img {
  margin-top: 2em;
}

p {
  font-size: 18px;
  padding: 0 1em 1em 1em;
  border-bottom: solid 2px grey;
}

h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li {
    background-color: #F0E68C;
    margin: 0.5em;
    padding: 0.5em;
}

button {
  margin-top: 1em;
}
