<div class="container">
  <h3>Please Login to use all features</h3>
  <br>
  <form [formGroup]="myForm" (ngSubmit)="onAuth()">
      <div class="form-group">
          <label for="email">E-Mail</label>
          <input formControlName="email" type="email" id="email" class="form-control">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" class="form-control">
      </div>
      <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">{{buttonValue}}</button>
  </form>
  <a (click)="onSwitchAction()">{{linkValue}}?</a>
</div>
